    /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
  }
  
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {
    .module_wrapper:nth-of-type(odd) {
      padding-right: 30px;
    }
  
    .module_wrapper:nth-of-type(even) {
      padding-right: 30px;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    #header_image {
      position: relative;
      height: auto;
      top: 0;
      left: 0;
      overflow: none;
    }
  
  
  @media only screen and (min-device-height: 1120px) {
    #spacer {
      height: 0;
    }
  }
  
  @media only screen and (max-device-height: 1119px) {
    #spacer {
      height: 220px;
    }
  }
  
  #reveal_projects {
    position: absolute;
    left: 48.5%;
    top: -16vh;
  }
  
  .module_wrapper {
    display: flex;
    background: white;
    align-items: center;
    margin-bottom: 30px;
  }
  
  /* If we can fit HD in
  .module_wrapper:first-of-type {
    padding-left: 0;
    padding-right: 0;
  }
  */
  
  .module_wrapper {
    padding-right: 0;
    padding-left: 0;
  }
  
  @media screen and (max-device-width: 767px) {
    .project_modules .col-12,
    .project_modules .col-md-6 {
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  .module_link {
    width: 100%;
    transition: all 150ms linear 0s;
    border-radius: 10px;
  }
  
  .module {
    position: relative;
    width: 100%;
    height: 300px;
    -webkit-box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #b3b3b3;
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 3px 0 #b3b3b3;
    border-radius: 10px;
  }
  
  .module_image {
    width: 100%;
    height: 300px;
    background: url(https://cdn-images-1.medium.com/max/2000/1*uusQu2UO2fU8HuwDaGbcyQ@2x.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
  }
  
  .module_description {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
  
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: 150ms linear 0s;
  }
  
  #uwp_image {
    background: url(images/uwp_hero.svg) no-repeat;
    background-position: center;
    background-size: 80%;
  }
  
  #uwp_module_description:hover {
    background: rgba(25, 150, 190, 0.8);
    transition: 150ms linear 0s;
  }
  
  #fbmap_image {
    background: url(images/fbmap_handmockup.png) no-repeat;
    background-position: center;
    background-size: 80%;
  }
  
  #fbmap_module_description:hover {
    background: rgba(65, 103, 177, 0.8);
    transition: 150ms linear 0s;
  }
  
  #googleprompt_image {
    background: url(images/googleprompt/hifi1.png) no-repeat;
    background-position: center;
    background-size: 25%;
  }
  
  #googleprompt_module_description:hover {
    background: rgb(88, 165, 92, 0.8);
    transition: 150ms linear 0s;
  }
  
  #ddc_image {
    background: url(images/davis_design_collective_logo.svg) no-repeat;
    background-position: center;
    background-size: 40%;
  }
  
  #ddc_module_description:hover {
    background: rgb(33, 173, 229, 0.8);
    transition: 150ms linear 0s;
  }
  
  #uipsych_image {
    background: url(images/uipsych_flashsale.svg) no-repeat;
    background-position: center;
    background-size: 40%;
  }
  
  #uipsych_module_description:hover {
    background: rgba(100, 54, 156, 0.8);
    transition: 150ms linear 0s;
  }
  
  #hackdavis_image {
    background: url(images/hackdavis/hackdavis_header.png) no-repeat;
    background-position: 38% 50%;
    background-size: 65%;
  }
  
  #hackdavis_module_description:hover {
    background: rgba(88, 217, 218, 0.8);
    transition: 150ms linear 0s;
  }
  
  #google_internship_image {
    background: url(images/google_internship/google-shopping.svg) no-repeat;
    background-position: center;
    background-size: 25%;
  }
  
  #google_internship_module_description:hover {
    background: rgba(234, 66, 53, 0.8);
    transition: 150ms linear 0s;
  }
  
  .module_description > span.project_module_text {
    line-height: 1.5rem;
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0);
    z-index: 2;
  
    transition: 150ms linear 0s;
  }
  
  .module_description:hover > span.project_module_text {
    color: white;
  
    transition: 150ms linear 0s;
  }
  
  /* Fade in Animation */
  
  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeInUp {
    from {
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  .animated {
    animation-delay: 0.5s;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
  }
  
  .animatedFadeInUp {
    opacity: 0;
  }
  
  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
  }
  
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {
    .module_wrapper:nth-of-type(odd) {
      padding-right: 30px;
    }
  
    .module_wrapper:nth-of-type(even) {
      padding-right: 30px;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    #header_image {
      position: relative;
      height: auto;
      top: 0;
      left: 0;
      overflow: none;
    }
  
    #header_text {
      position: absolute;
      top: 46%;
      /*top: -20vh;*/
      z-index: 300;
      padding: 2rem 2rem 1.2rem 2rem;
      width: 475px;
      background: white;
      border: solid 1px #dfe4e6;
      border-radius: 10px;
    }
  
  /* Fade in Animation */
  
  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeInUp {
    from {
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  .animated {
    animation-delay: 0.5s;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
  }
  
  .animatedFadeInUp {
    opacity: 0;
  }
  
  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }
  

  body {
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none !important;
  }

  .display-3 {
    margin-bottom:
  }
  
  
  .highlight {
    color: white;
    height: 50%;
    background-color: rgb(25, 150, 190);
    background-position: 0 .75em;
    padding-left: .3rem;
    padding-right: .3rem;
    border-radius: 4px;
    font-size: inherit;
  }
  span.project_module_text {
    font-family: "Titillium Web", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.5rem;
    font-weight: normal;
  }
  
  .project_header_vertical_padding{
    height: 30vh;
  }
  
  .horizontal_padding_20p {
    padding-right: 20%;
    padding-left: 20%;
  }
  
  .vertical_padding_20px {
    padding-bottom: 20px;
  }
  
  footer{
      background-color: aliceblue;
  }
  
  
  .reveal_content_section {
    height: 25vh;
  
  }
  
  .reveal_content {
    position: relative;
    width: 0;
    padding: 1rem;
    display: block;
    margin: auto;
    border: solid .5px lightgrey;
    border-radius: 50px;
    -webkit-transition: all 200ms ease-in;
  
  }
  
  .reveal_content:hover {
    -webkit-box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
    border: solid .5px white;
    -webkit-transition: all 200ms ease-in;
  
  }
  
  .reveal_content i {
    position: absolute;
    left: 28%;
    top: 50%;
    font-size: 1rem;
    text-align: center;
    color: #343A40;
  }
  
  .project_modules{
    margin-top: 1rem;
  }
  
    }
  }