    /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
  }
  
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {
    .module_wrapper:nth-of-type(odd) {
      padding-right: 30px;
    }
  
    .module_wrapper:nth-of-type(even) {
      padding-right: 30px;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    #header_image {
      position: relative;
      height: auto;
      top: 0;
      left: 0;
      overflow: none;
    }
  
  
  @media only screen and (min-device-height: 1120px) {
    #spacer {
      height: 0;
    }
  }
  
  @media only screen and (max-device-height: 1119px) {
    #spacer {
      height: 220px;
    }
  }
  
  .module_wrapper {
    display: flex;
    background: white;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .module_wrapper {
    padding-right: 0;
    padding-left: 0;
  }
  
  @media screen and (max-device-width: 767px) {
    .project_modules .col-12,
    .project_modules .col-md-6 {
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  .module_link {
    width: 100%;
    transition: all 150ms linear 0s;
    border-radius: 10px;
  }
  
  .module {
    position: relative;
    width: 100%;
    height: 300px;
    -webkit-box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #b3b3b3;
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 3px 0 #b3b3b3;
    border-radius: 10px;
  }
  
  .module_image {
    width: 100%;
    height: 300px;
    background: url(https://cdn-images-1.medium.com/max/2000/1*uusQu2UO2fU8HuwDaGbcyQ@2x.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
  }
  
  .module_description {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
  
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: 150ms linear 0s;
  }
  
  #slack_image {
    background: url(images/slack.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
  }
  
  #slack_module_description:hover {
    background: rgba(111, 66, 193, 0.7);
    transition: 150ms linear 0s;
  }
  
  #fps_image {
    background: url(images/victrlab.png) no-repeat;
    background-position: center;
    background-size: 105%;
  }
  
  #fps_module_description:hover {
    background: rgba(255, 193, 7, 0.7);
    transition: 150ms linear 0s;
  }
  
  #online_image {
    background: url(images/online-learning.jpg) no-repeat;
    background-position: center;
    background-size: 105%;
  }
  
  #online_module_description:hover {
    background: rgba(255, 0, 0, 0.7);
    transition: 150ms linear 0s;
  }
  
  #codepath_image {
    background: url(images/codepath.png) no-repeat;
    background-position: 38% 50%;
    background-size: 70%;
  }
  
  #codepath_module_description:hover {
    background: rgba(32, 201, 151, 0.7);
    transition: 150ms linear 0s;
  }
  
  #ssc_image {
    background: url(images/ssc.png) no-repeat;
    background-position: center;
    background-size: 75%;
  }
  
  #ssc_module_description:hover {
    background: rgba(0, 123, 255, 0.7);
    transition: 150ms linear 0s;
  }
  
  .module_description > span.project_module_text {
    line-height: 1.5rem;
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0);
    z-index: 2;
  
    transition: 150ms linear 0s;
  }
  
  .module_description:hover > span.project_module_text {
    color: white;
  
    transition: 150ms linear 0s;
  }
  
  /* Fade in Animation */
  
  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeInUp {
    from {
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  .animated {
    animation-delay: 0.5s;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
  }
  
  .animatedFadeInUp {
    opacity: 0;
  }
  
  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }

  }
  
  .animated {
    animation-delay: 0.5s;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
  }
  
  .animatedFadeInUp {
    opacity: 0;
  }
  
  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }
  

  body {
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none !important;
  }
  
  span.project_module_text {
    font-family: "Titillium Web", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.5rem;
    font-weight: normal;
  }
  
  
  .project_modules{
    margin-top: 1rem;
  }
  
    
