body{
    margin: 0;
    padding: 0;
    background-image: url("stockphoto.jpg");
    background-size: cover;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}